body {
  min-height: 3000px;
  font-family: "google sans";
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  position: relative;
  overflow: hidden;
}
/* Membuat lingkaran dekoratif samar di latar belakang */
.jumbotron::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(13, 110, 253, 0.05); /* Warna biru Bootstrap dengan transparansi 5% */
  border-radius: 50%;
  bottom: 10%;
  left: 15%;
  z-index: 0;
}

#projects {
  background-color: #e2edff;
}

section {
  scroll-margin-top: 70px;
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}

.my-navbar {
  /* Menggunakan warna biru dengan transparansi (alpha) */
  background-color: rgba(13, 110, 253, 0.7) !important;

  /* Efek blur pada objek di belakang navbar */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Untuk dukungan Safari */

  /* Tambahkan sedikit garis bawah tipis agar lebih elegan */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* skills style */
.progress {
  border-radius: 10px;
  background-color: #e9ecef;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* typing teks style */
#typing {
  color: #0d6efd; /* Memberi warna biru khas Bootstrap */
  font-weight: bold;
}
.tracking-wide {
  letter-spacing: 7.5px !important; /* Anda bisa ubah nilainya sesuai selera */
  word-wrap: break-word;
}
